# ignore all files in the .idea/ directory (pycharm files)
.idea/

# any migrations files
**/migrations/*
**/migrations/*/

# cached files
**/__pycache__/

# pickled data
**/pickled/
**/pickled/*

# setting files
**/settings.py

# some data files
**/word_data/*

# big data file
**/vgg19/*

# image files
**/style/*
**/inputs/*
**/outputs/*

