{% extends 'base.html' %}

{% block title %}Convolutional Neural Network (CNN){% endblock %}

{% block content %}

    <section class="section-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                    <p>
                        <code>Convolutional Neural Networks (CNN)</code> has been used for image classification. Well, image classification is interesting but let's
                        do more interesting stuff, which is style transfer. In this demo...
                    </p>
                    <p>
                        The process of generating the figure is as follows:
                    </p>
                    <dl>
                        <dt>SVD decomposition: </dt>
                            <dd><pre> U. S. V = svd()</pre></dd>
                        <dt>Projection: </dt>
                            <dd>- Project on the space</dd>
                    </dl>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </section>

    <section class="section-graph">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <div class="block">
                    </div>
                </div>
                <div class="col-md-4">
                      <div class="panel panel-default" id="input-photo">
                            <div class="panel-heading"><strong>Upload a photo</strong> <small>Drag and drop to the below</small></div>
                            <div class="panel-body">

                                {###################################################################### dropzone code #}
                                <form action="/cnn/change/" class="dropzone" id="mydropzone">
                                    {% csrf_token %}
                                    <div class="fallback">
                                    <input name="file" type="file" />
                                  </div>
                                </form>
{#                                <input type="submit" class="btn btn-success" value="upload">#}
                                {####################################################################### dropzone code #}
                            </div>
                      </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="panel panel-default" id="result-photo">
                        Here I am
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="block">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="static/cnn.js"></script>

{% endblock %}