{% extends 'base.html' %}

{% block title %}Convolutional Neural Networks (CNN){% endblock %}

{% block content %}

    <section class="section-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>
                        Convolutional Neural Network (CNN)
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>



{% endblock %}
