{% extends 'base.html' %}

{% block title %}Convolutional Neural Network (CNN){% endblock %}

{% block content %}

    <section class="section-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                    <p>
                        <code>Convolutional Neural Networks (CNN)</code> has been used for image classification.
                    </p>
                    <p>
                        The process of generating the figure is as follows:
                    </p>
                    <dl>
                        <dt>SVD decomposition: </dt>
                            <dd><pre> U. S. V = svd()</pre></dd>
                        <dt>Projection: </dt>
                            <dd>- Project on the space</dd>
                    </dl>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </section>

{#    <section class="section-graph">#}
{#        <div class="container-fluid">#}
{#            <div class="row">#}
{#                <div class="col-md-1">#}
{#                    <div class="block">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-10">#}
{#                    <div class="block">#}
{#                        <canvas id="myChart2" style="border:2px solid #f1f1f1; padding:20px; padding-top:40px; box-shadow:2px 2px 2px rgba(0,0,0,0.2);"></canvas>#}
{#                        <canvas id="myChart2"></canvas>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-1">#}
{#                    <div class="block">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{#    <script>var pca_all  = '{{js_data_all|safe}}';</script>#}
{#    <script src="static/pca.js"></script>#}

{% endblock %}