{% extends 'base.html' %}

{% block title %}
    Principal Component Analysis (PCA)
{% endblock %}

{% block content %}

    <section class="section-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form class="input_form" action="{% url 'PCA:pca' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="classify">
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>


{% endblock %}